.top-message{
  width: 100vw;
  height: 32px;
  background-color: $brand2-pale;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    @include font($maintextbodyxs, $maintextfontfamily, $maintextbodymedium, uppercase);
    color: $titles;
  }
}


.header-container{
  margin: 31px 216px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__greeting-message{
    position: relative;
    .pill{
      background-color: $brand1-pale;
      height: 24px;
      width: 70px;
      border-radius: 100px;
      @include position(absolute, -1, 32px, -24px);
    }
    h2{
      @include font($h2desktopsize, $maintextfontfamily, $h2desktopweight, none);
      color: $titles;
      max-width: 566px;
    }
  }
}


