.carousel{
  width: 95%;
  margin: 0 auto;
  &__button-container{
    width: 100%;
    margin-top: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button{
      width: 237px;
    }
  }
}

.product-card{
  width: 100%;
  &__image-container{
    position: relative;
    cursor: pointer;
    &--large{
      position: relative;
      cursor: pointer;
      height: 398px;
    }
    &__image{
      width: 100%;
    }
    &__button-container{
      position: absolute;
      z-index: 1;
      bottom: 13px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &__button{
        width: 92%;
        height: 48px;
        border-radius: 100px;
        border: none;
        background-color: $white;
        color: $brand2;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        box-sizing: content-box;
        &:hover{
          border: 2px solid $white;
          border-bottom: none;
        }
      }
    }
  }
  &__title{
    @include font(18px, $cardfontfamily, 500, none);
    color: $titles;
    margin-top: 18px;
  }
  &__stars-price{
    display: flex;
    justify-content: space-between;
    &__price{
      @include font(15px, $cardfontfamily, 500, none);
      &--before{
        color: $gray-paragraph;
        text-decoration: line-through;
      }
      &--after{
        color: $titles;
      }
    }
  }
}

.stars{
  color: $brand5;
  font-size: 17px;
}

.rating{
  @include font(14px, $cardfontfamily, 400, none);
  color: $gray-paragraph;
}