button.secondary {
  height: 48px;
  background-color: #EFA693;
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
}

.top-message {
  width: 100vw;
  height: 32px;
  background-color: #FFDCD3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-message p {
  font-size: 13px;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #444950;
}

.header-container {
  margin: 31px 216px;
  display: flex;
  justify-content: space-between;
}
.header-container__greeting-message {
  position: relative;
}
.header-container__greeting-message .pill {
  background-color: #CAF0FF;
  height: 24px;
  width: 70px;
  border-radius: 100px;
  position: absolute;
  z-index: -1;
  top: 32px;
  left: -24px;
}
.header-container__greeting-message h2 {
  font-size: 44px;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  text-transform: none;
  color: #444950;
  max-width: 566px;
}
.header-container__carousel-buttons {
  display: flex;
  align-items: end;
}
.header-container__carousel-buttons__buttons-container {
  width: 148px;
  display: flex;
  justify-content: space-between;
}
.header-container__carousel-buttons__buttons-container div {
  width: 70px;
  height: 24px;
  background-color: #FFDCD3;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container__carousel-buttons__buttons-container div button {
  width: 39.5px;
  height: 39.5px;
  background-color: #ffffff;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.25));
}

@media (max-width: 800px) {
  .header-container {
    margin: 31px 50px;
  }
}
@media (max-width: 600px) {
  .header-container {
    margin: 31px 33px;
    flex-direction: column;
  }
  .header-container__greeting-message h2 {
    font-size: 28px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 15px;
  }
}
.carousel {
  width: 95%;
  margin: 0 auto;
}
.carousel__button-container {
  width: 100%;
  margin-top: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__button-container__button {
  width: 237px;
}

.product-card {
  width: 100%;
}
.product-card__image-container {
  position: relative;
  cursor: pointer;
}
.product-card__image-container--large {
  position: relative;
  cursor: pointer;
  height: 398px;
}
.product-card__image-container__image {
  width: 100%;
}
.product-card__image-container__button-container {
  position: absolute;
  z-index: 1;
  bottom: 13px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__image-container__button-container__button {
  width: 92%;
  height: 48px;
  border-radius: 100px;
  border: none;
  background-color: #ffffff;
  color: #EFA693;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: content-box;
}
.product-card__image-container__button-container__button:hover {
  border: 2px solid #ffffff;
  border-bottom: none;
}
.product-card__title {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #444950;
  margin-top: 18px;
}
.product-card__stars-price {
  display: flex;
  justify-content: space-between;
}
.product-card__stars-price__price {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: none;
}
.product-card__stars-price__price--before {
  color: #939393;
  text-decoration: line-through;
}
.product-card__stars-price__price--after {
  color: #444950;
}

.stars {
  color: #FFC658;
  font-size: 17px;
}

.rating {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #939393;
}

@media (max-width: 1200px) {
  .product-card__stars-price {
    flex-direction: column;
  }
}
footer {
  width: 100vw;
  margin-top: 68px;
  padding-top: 197px;
  padding-bottom: 73px;
  background-image: url("../assets/img/backfooter.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
footer h2 {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
footer .subscription-form {
  margin-top: 50px;
}
footer .subscription-form__text {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  text-transform: none;
  color: #939393;
  max-width: 440px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
footer .subscription-form__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  position: relative;
  z-index: 1;
}
footer .subscription-form__form input {
  width: 360px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid #EFA693;
  padding: 11px 24px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #444950;
}
footer .subscription-form__form input::-moz-placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #939393;
}
footer .subscription-form__form input::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #939393;
}
footer .subscription-form__form input:hover {
  border: 1px solid #F39780;
}
footer .subscription-form__form input:focus {
  border: 1px solid #008EFC;
  outline: none;
}
footer .subscription-form__form button {
  width: 119px;
  margin-left: 3px;
}
footer .subscription-form__success {
  display: flex;
  width: 482px;
  justify-content: left;
  margin: 0 auto;
  margin-top: 6px;
}
footer .subscription-form__success img {
  margin-left: 10px;
}
footer .subscription-form__success p {
  color: #939393;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: none;
  margin-left: 8px;
}
footer .subscription-form__success.hidden {
  display: none;
}
footer .subscription-form__error {
  display: flex;
  width: 482px;
  justify-content: left;
  margin: 0 auto;
  margin-top: 6px;
}
footer .subscription-form__error img {
  margin-left: 10px;
}
footer .subscription-form__error p {
  color: #EB5757;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: none;
  margin-left: 8px;
}
footer .subscription-form__error.hidden {
  display: none;
}
footer .pill {
  position: absolute;
}
footer .pill.pill1 {
  top: 323px;
  left: 73px;
}
footer .pill.pill3 {
  top: 347px;
  right: 182.65px;
}
footer .pill.pill4 {
  top: 177px;
  left: 304.65px;
}
footer .pill.pill6 {
  top: 149px;
  right: 34.46px;
}
footer .pill.greenpill {
  top: 147px;
  left: 105px;
}

@media (max-width: 600px) {
  footer h2 {
    font-size: 28px;
    max-width: 328px;
    padding-bottom: 63px;
  }
  footer .subscription-form__text {
    max-width: 335px;
  }
  footer .subscription-form__form {
    flex-direction: column;
  }
  footer .subscription-form__form input {
    width: 328px;
    margin-bottom: 16px;
  }
  footer .subscription-form__form button {
    width: 199px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h2 {
  font-size: 44px;
  font-weight: 700;
  font-family: "Abhaya Libre", serif;
}/*# sourceMappingURL=style.css.map */